*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    color:#F8F5FF;

    background:linear-gradient(
        135deg,
        #12061f 0%,
        #22083c 30%,
        #22083c 70%,
        #12061f 100%
    );

    min-height:100vh;
    overflow-x:hidden;
    position:relative;
}

/* ===========================
BACKGROUND BLOBS
=========================== */

.blob{
    position:fixed;
    border-radius:50%;
    filter:blur(120px);
    opacity:.25;
    z-index:-1;
    animation:float 18s infinite ease-in-out;
}

.blob1{
    width:420px;
    height:420px;
    background:#A855F7;
    top:-120px;
    left:-100px;
}

.blob2{
    width:350px;
    height:350px;
    background:#7B2FF7;
    bottom:-120px;
    right:-80px;
}

.blob3{
    width:250px;
    height:250px;
    background:#E879F9;
    top:45%;
    left:45%;
}

@keyframes float{

    0%{
    transform:translateY(0px);
    }

    50%{
    transform:translateY(-50px);
    }

    100%{
    transform:translateY(0px);
    }

}

/* ===========================
HEADER
=========================== */

header{
    position:sticky;
    top:45px;
    display:flex;
    justify-content:center;
    z-index:100;
}

.navbar{
    width:min(1200px,95%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 35px;
    border-radius:25px;
    backdrop-filter:blur(18px);
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.15);
    box-shadow:0 10px 40px rgba(0,0,0,.25);
}

.logo {
    margin:0;
}

.ar-logo{
    filter: invert(100%);
    height: 40px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.35s;
    position:relative;
}

.nav-links a::after{
    content:"";
    position:absolute;
    bottom:-6px;
    left:0;
    width:0%;
    height:2px;
    background:#D7B9FF;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.menu-btn{
display:none;
font-size:1.4rem;
}

/* ===========================
HERO
=========================== */

.hero{
    display:grid;
    grid-template-columns:1fr;
    gap:70px;
    align-items:center;
    padding:180px 8%;
    padding-top:0px;
    padding-bottom: 90px;;
    margin-top:0;
    margin-left:75px;
    margin-right:75px;
    min-height:100vh;
}

.hero h1{
    font-size:6rem;
    font-family:'Space Grotesk',sans-serif;
    transition:0.3s ease;
}

.hero h1:hover{
    text-shadow:0 0 0.5 #7B2FF7;
}

.hero-description{
    max-width:550px;
    line-height:1.8;
    color:#D4D4D8;
}

.hero-buttons{
    display:flex;
    gap:20px;
    margin-top:35px;
}

.primary-btn{
    background:linear-gradient(135deg,#7B2FF7,#B517FF);
    padding:15px 28px;
    border-radius:40px;
    text-decoration:none;
    color:white;
    font-weight:600;
    transition:.3s;
    border:none;
    cursor:pointer;
}

.primary-btn:hover{
    transform:translateY(-6px);
    box-shadow:0 20px 40px rgba(123,47,247,.5);
}



/* ===========================
PROFILE
=========================== */

.profile-card{
    width:420px;
    height:420px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    border-radius:40px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.15);
    box-shadow:0 30px 60px rgba(0,0,0,.35);
    overflow:hidden;
}

.profile-card img{
    width:90%;
    height:90%;
    object-fit:cover;
    border-radius:30px;
}

.circle{
    position:absolute;
    width:250px;
    height:250px;
    background:#A855F7;
    border-radius:50%;
    filter:blur(70px);
    opacity:.4;
}

/* ===========================
SECTIONS
=========================== */

section{
    padding:100px 8%;
}

.section-title{
    font-size:2.8rem;
    font-family:'Space Grotesk',sans-serif;
    margin-bottom:50px;
    text-align:center;
}

.serial {
    display:flex;
    grid-template-columns: 1fr 1fr;
    font-family: satoshi,sans serif;
    font-weight: 400;
    font-style: italic;
}

.about {
    max-width:1200px;
    margin:auto;
    margin-top:0;
    margin-left:75px;
    margin-right: 75px;
    padding-top:30px;
    scroll-margin-top: 130px;
}

.about h2{
    font-size: 40px;
}

.about p{
    margin-top:25px;
    line-height:1.9;
    color:#DDD6FE;
}

.glass-section{
    background:rgba(255,255,255,.07);
    border-radius:35px;
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.12);
    max-width:1200px;
    margin:auto;
    box-shadow:0 20px 60px rgba(0,0,0,.25);
}

.chips-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 14px;
    margin-top: 50px;
    align-content: center;
}

.chip {
    display: inline-flex;
    align-content: center;
    justify-content: space-between; /* Center text when wrapped */
    padding: 12px 16px;
    border-radius: 999px;
    font-family: 'JetBrains Mono', monospace;
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.15);
    box-shadow:0 10px 40px rgba(0,0,0,.25);
}

.glass-section p{
    margin-top:25px;
    line-height:1.9;
    color:#DDD6FE;
}

/* ===========================
PROJECTS
=========================== */

.projects-grid{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;
    margin-left: 75px;
    margin-right: 75px;
}
 
.projects{
    padding-top:20px;
    scroll-margin-top: 130px;
}

.projects h2{
    font-size:40px;
}

.project-card{
    padding:35px;
    border-radius:30px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.12);
    transition:.35s;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 25px 50px rgba(0,0,0,.3);
}

.project-card h3{
    margin-bottom:18px;
}

.project-card span{
    display:inline-block;
    margin-top:20px;
    color:#D8B4FE;
}

/* ===========================
SKILLS
=========================== */

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
    gap:25px;
    margin-left:75px;
    margin-right:75px;
}

.skills{
    padding-top:20px;
    scroll-margin-top: 130px;
}

.skills h2{
    font-size:40px;
}

.skill{
    padding:15px 28px;
    border-radius:999px;
    background:rgba(255,255,255,.09);
    backdrop-filter:blur(18px);
    transition:.3s;
    cursor:pointer;
}

.skill:hover{
    background:#A855F7;
    transform:scale(1.08);
}

/* ===========================
TIMELINE
=========================== */

.experience{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 75px;
    margin-right:75px;
}

.timeline{
    max-width:900px;
    margin:auto;
    border-left:3px solid #A855F7;
    padding-left:40px;
}

.timeline-item{
    margin-bottom:60px;
    position:relative;
}
.timeline-item::before{
    content:"";
    position:absolute;
    left:-52px;
    top:6px;
    width:18px;
    height:18px;
    background:#C084FC;
    border-radius:50%;
    box-shadow:0 0 20px #C084FC;
}

.timeline span{
    color:#D8B4FE;
    font-weight:600;
}

.experience h2{
    font-size:40px;

}
.experience h4{
    margin-bottom: 25px;
}

.events{
    background-color: #22083c;
    scroll-margin-top: 70px;
}
.events h2{
    font-size:40px;

}
.events h4{
    margin-bottom: 25px;
    margin-left: 75px;
    margin-right:75px;
}

.event-timeline{
    max-width:900px;
    margin:auto;
    padding-left:40px;
    padding:30px;
}

.event-timeline-item{
    position:relative;
}
.event-timeline-item h3{
    font-size: 15px;
    font-weight: 100;
    padding-top:5px;
}

.event-timeline-item::before{
    content:"";
    position:absolute;
    left:-50px;
    top:6px;
    width:15px;
    height:15px;
    background:#C084FC;
    border-radius:50%;
    box-shadow:0 0 20px #C084FC;
}

.event-timeline span{
    color:#D8B4FE;
    font-size:20px;
    font-weight:500;
}

/* ===========================
CONTACT
=========================== */
.contact{
    scroll-margin-top: 65px;
}
.contact-form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    padding:18px;
    border:none;
    outline:none;
    border-radius:25px;
    background:rgba(255,255,255,.08);
    color:white;
    backdrop-filter:blur(15px);
}

.contact-form textarea{
    resize:none;
}

/* ===========================
FOOTER
=========================== */

footer{
    padding:60px 8%;
    margin-top:80px;
    text-align:center;
    background:rgba(255,255,255,.06);
    backdrop-filter:blur(20px);
    border-top:1px solid rgba(255,255,255,.08);
}
.ar-logo-footer {
    filter: invert(100%);
    height: 60px;
    padding-bottom: 15px;
}

.socials{
    display:flex;
    justify-content:center;
    gap:25px;
    font-size:1.5rem;
    margin:25px 0;
}

.socials i{
    cursor:pointer;
    transition:.3s;
}

.socials i:hover{
    color:#C084FC;
    transform:translateY(-4px);
}

/* ===========================
RESPONSIVE
=========================== */

@media(max-width:900px){

.hero{
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns:1fr;
    text-align:center;
}
.about {
    margin-left: 20px;
    margin-right: 20px;
}

.profile-card{
    width:320px;
    height:320px;
}

.hero-buttons{
    justify-content:center;
}

.nav-links{
    display:none;
}

.resume-btn{
    display:none;
}

.menu-btn{
    display:block;
}

.hero h1{
    font-size:3.5rem;
}

.section-title{
    font-size:2.2rem;
}

}

/* Scroll Reveal */

.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}

/* Active Navigation */

.current{
    color:#D8B4FE !important;
}

.current::after{
    width:100% !important;
}

/* Ripple Effect */

.primary-btn{
    position:relative;
    overflow:hidden;
}

.ripple{
    position:absolute;
    width:15px;
    height:15px;
    border-radius:50%;
    background:white;
    transform:translate(-50%,-50%);
    animation:ripple .6s linear;
}

@keyframes ripple{

    from{
        width:0;
        height:0;
        opacity:.7;
    }

    to{
        width:400px;
        height:400px;
        opacity:0;
    }
}

/* Scroll Top Button */

::selection {
  background-color: #ffffff; /* Yellow highlight */
  color: #000000;           /* Black text */
}

.scroll-top{
    position:fixed;
    right:30px;
    bottom:30px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:linear-gradient(135deg,#7B2FF7,#B517FF);
    color:white;
    font-size:22px;
    cursor:pointer;
    opacity:0;
    pointer-events:none;
    transition:.35s;
    box-shadow:0 15px 35px rgba(123,47,247,.4);
}

.scroll-top.visible{
    opacity:1;
    pointer-events:auto;
}

.scroll-top:hover{
    transform:translateY(-5px);
}